# Where to put the built docker image
REPO="shoginn/flightaware"

# Base image for each arch
BASE=debian:stretch-slim

# Architectures to build
ARCHITECTURES="arm arm64 amd64"

# Metadata Variables
MAINTAINER="ginnserv@gmail.com"
NAME="Docker ADS-B - flightaware"
DESCRIPTION="Docker container for ADS-B - This is the flightaware.com component"
URL="https://github.com/ShoGinn/flightaware"
